<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/head.ejs') -%>

  <body class="bg-primary">
    <%- include('../templates/header.ejs') -%>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card bg-dark text-white">
            <div class="card-header">
              <h3 class="mb-0">Registration</h3>
            </div>
            <div class="card-body">
              <form
                id="registrationForm"
                method="POST"
                action="/login/register"
              >
                <input
                  type="hidden"
                  name="_csrf"
                  value="<%= csrfToken %>"
                />
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                  />
                  <small class="text-danger" id="nameError"></small>
                </div>
                <div class="form-group">
                  <label for="username">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="username"
                    name="username"
                  />
                  <small id="emailHelp" class="form-text text-muted"
                    >We'll never share your email with anyone
                    else.</small
                  >
                  <small
                    class="text-danger"
                    id="usernameError"
                  ></small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                  />
                  <small
                    class="text-danger"
                    id="passwordError"
                  ></small>
                </div>
                <button
                  type="submit"
                  class="btn btn-secondary float-right"
                  id="registerBtn"
                  disabled
                >
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- validate -->
    <script src="/public/js/register.js"></script>
  </body>
</html>
